body{
    background-color: #111111;
    font-family: sans-serif;
}

.content{
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 20rem;

    padding: 2rem;

    border: 2px solid #FEE602;

    height: 10rem;

    text-align: center;
    color: #aaaaaa;
    background-color: #222222;
}

#time{
    font-family: monospace;
}

.icons{
    display: inline;
}

a{
    text-decoration: none;
    color: #aaaaaa;
}